body {
    font-family: 'Helvetica Neue';
    font-weight: lighter;
}

h2 {
	background: #55bed5;
}

.company {
	font-weight: bold;
	margin-bottom: 0cm;
	line-height: 13px;
}

.bullets{
	margin-top: 0cm;
	list-style-position: circle;
	line-height: 5px;
}